*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ebebeb;
    margin-right: 15px;
}

header {
    background-color: #EAC926;
    width: 100vw;
}

.main-nav {
    list-style: none;
    font-size: 24px;
}

li {
    font-size: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

ul.main-nav{
    padding:0;
}

.precios {
    font-size: 18px;
    margin: 0;
    display: inline;
}

.des-des {
    font-size: 16px;
    margin:5px;
    margin-left: 15px;
    display: flex;
    font-weight: 800;
    color:rgb(100, 100, 100);
}

.formularios{
    text-align: center;
}

.burger-menu {
    background-color: blue;
    color: white;
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.2em;
    margin-left: auto;
    display: flex;
    width: 30px;
    margin-right: auto;
    
}

.centrar {
    padding: 0.3em;
    margin-left: auto;
    margin-right: auto;
}


.centrado {
    text-align: center;
}

.tarjeta {
    color: blue;
    font-size: 2em;
    margin-top: 2vw;
}

.copyright {
    margin-top: 3vw;
}


.centramos{
    text-align: left;
}

main {
    text-align: center;
    width: 90%;
}


h3{
    text-align: center;
}

.boton-envio{
    background-color: blue;
    color: white;
}

article {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    border-top: 5px;
    border-right: 10px;
    margin-right: 10px;
    padding-right: 10px;
}


.container1 {
    border-top: 1px #ebebeb solid;
    border-left: 15px;
    border-right: 15px;
    width: 300px;
    border-bottom: 5px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;    
}


section{
    margin-right: 5px;
    margin-right: 1px;
    width: 100vw;
}

article {
    width: 100%;
}


footer {
    margin-left: auto;
    margin-right: auto;
    width:100vw;
    margin-top: 3vw;
}

.banneradded{
    width:100vw;
    margin-bottom: -67px;
    
}

.burger-menu{
    margin-left: auto;
    margin-right: auto;
}

.centramos {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

.alinear {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.precios{
    width: 30vw;
    margin:5px;
    margin-left: -52px;
    font-weight: 700;
}

.des-des1{
    width: 70vw;
    color: green;
}

div.container1.flexing2{    
    margin-top: -3px;
}

.basadovisita {
    padding-top: 5vw;
    padding-bottom: 2.5vw;
    border-bottom:5vw;
}

.fa-solid.fa-truck {
    display: inline;
    font-size: 17px;
    padding: 6px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: green;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    margin-right: -18vw;
}  



@media (min-width:769px) {
    .burger-menu{
        visibility: hidden;
    }
    main {
        text-align: left;
    }
    article {
        text-align: center;
        margin-bottom: 5px;
        width: 43%;
        margin-left: 3vw;
        padding: 0px;
    }
    img {
        width: 90%;
    }

    ul.main-nav{
        margin-bottom: -37px;
        width:100vw
    }

    .container1{ 
        width: 90%;
        margin-left: 7.5vw;
    }

    .logochico{
        width:350px;
    }

    input{
     font-size: 1.5vw;
     margin-left: 7vw;
    }

    .precios {
        width: 32vw;
        margin: 5px;
        margin-left: 4.5vw;
        font-weight: 700;
        margin-top: 3vw;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: baseline;
        justify-content: space-between;
    }
    
    .des-des1{
        width: 70vw;
        color: green;
        margin-left: 12vw;
        margin-top: -3.5vw;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .basadovisita {
        font-size: 29px;
        font-weight: 700;
        color: gray;
        padding-bottom: 1vw;
        padding-top: 2vw;
        width: 100vw;
    }

    .mas-visitados {
        font-size: 29px;
        font-weight: 700;
        color: gray;
        padding-bottom: 1vw;
        padding-top: 0vw;
        width: 100vw;
        margin-top: -3vw;
    }
    
    .headernuevo {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    .centramos {
        width: 60%;
        text-align: right;
        margin-top: 5vw;
    }

    .main-nav{
        display:flex;
        justify-content: space-between;
    }

    .main-nav ul {
        display: flex;
    }

    .main-nav li {
        margin: 0 5px;

    }

    .barrita {
        display: inline;
        width: 50vw;
        margin-left: 6vw;
        margin-top: 5vw;
        margin-bottom: 3vw;
    }
    
    .lupita {
        display: inline;
        align-self:flex-end;
    }

    article {
        width: 45%;
        margin-left: 1vw;
        transition: 1s;
    }

    .article:hover .fa-truck{
        transform: rotate(-90deg);
    }

    .flexboxear{
        margin-left: 8px;
        width: 50vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 5vw;
    }

    .flexforimage {
        border: 5px;
        width: 100%;
    }

    .flexing1 {
        width: 100%
    }

    .container1 {
        flex-wrap: nowrap;
        border: 5px;
        margin-left: 0vw;
    } 

    .flexing2 {
        width: 100%;
    }

    .fa-solid.fa-truck {
        display: inline;
        font-size: 13px;
        padding: 6px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        right: -19vw;
        top: -1vw;
        margin-right: -20vw;
    } 

    .alinear {
        margin-top: -2vw;
    }


    article .des-des{
        display: none;
    }

    article:hover .des-des{
        display: block;
        text-align: left;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /*footer*/

    .footer-centrado {
    display: table-cell;
    }

    .tarjeta:hover{
    color: green;
    cursor: pointer;
    }

    footer.centrado {
     margin-left: auto;
     margin-right: auto;
     width: 100vw;
     margin-top: -3vw;
    }
    
}

@media (min-width:362px) and (max-width:768px) {
    .burger-menu{
        visibility: hidden;
    }
    main {
        text-align: left;
    }
    ul.main-nav{
        margin-bottom: -37px;
    }

    img { 
        width: 90%;
    }

    .container1{ 
        width: 90%;
    }

    .wrapping-for-boxshadow, .container1{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .logochico{
        width:250px;
    }

    .precios{
        width: 30vw;
        margin:5px;
        margin-left: 6vw;
        font-weight: 700;
    }

    header{
        width: 110vw;
    }

    .banneradded{
        width: 110vw;
    }
    
    .des-des1{
        width: 70vw;
        color: green;
        margin-left: 12vw;
        margin-top: -5.5vw;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-size: 3vw;
        font-weight: bold;
    }

    .des-des{
        margin-left: 1vw;
        padding-bottom: 2vw;
        justify-content: left;
        padding-top: 2vw;
    }

    .basadovisita {
        font-size: 29px;
        font-weight: 700;
        color: gray;
        margin-left: 10vw;
    }

    .mas-visitados {
        font-size: 29px;
        font-weight: 700;
        color: gray;
        padding-bottom: 3vw;
        padding-top: 2vw;
        width: 100vw;
        margin-top: -3vw;
    }

    .flexboxear{
        margin-left: 11vw;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .article {
        width: 45%;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 3vw;
    }

    .flexforimage {
        border: 5px solid red;
        width: 100%;
    }

    
    .container1 {
        flex-wrap: nowrap;
        border: 5px solid green;
        margin-left: 2vw;
        width: 90%;
    }    

    .fa-solid.fa-truck {
    display: inline;
    font-size: 13px;
    padding: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: -32vw;
    top: -4vw;
    margin-right: -20vw;
    }  

    .alinear {
        padding-right: 2vw;
    }

    article {
        width: 50%;
    }
    

    .flexforimagecomputadora {
        margin-bottom: 0vw;
        margin-top: 0vw;
    }

    .container1.flexing2 {
        margin-top: -1px;
        margin-left: 2.1vw;
        padding-top: 9px;
    }

    .centramos{
        margin-top: 4vw;
    }

}
@media (min-width:260px) and (max-width:362px) {            
    footer {
        width:100vw;
        margin-right: auto;
        margin-left: auto; 
        text-align: center;
    }

    header {
        width:112vw;
        margin-right: auto;
        margin-left: auto; 
        }
    .main-nav{
        visibility: hidden;
        height: 1px;
        margin-top: 3px;
    }
    .centramos{ 
        text-align: center;
        margin-top: 3vw;
    }

    .logochico{
        width:150px;
    }

    .burger-menu{
        margin-top: -58px;
    }

    h3{
        padding-top: 2px;
    }

    .basadovisita {
        padding-top: 50px;
        padding-bottom: 0px
    }

    .precios{
        width: 30vw;
        margin:5px;
        margin-left: 70vw;
        font-weight: 700;
    }

    .des-des{
        margin-left: 4vw;
        padding-top: 6vw;
    }

    .des-des1{
        width: 70vw;
        color: green;
        margin-left: 20vw;
        font-weight: bold;        
    }

    section{
        width: 100vw;
        margin-left: 5vw;
    }

    .basadovisita {
        padding-top: 24vw;
        padding-bottom:3vw;
    }
    
    .fa-solid.fa-truck {
        display: inline;
        font-size: 17px;
        padding: 6px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: green;
        background-color: #FFF;
        border-radius: 50%;
        right: -256px;
        top: -6vw;
        margin-right: -75vw;
        position: relative;
    }

    .alinear {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .banneradded{
        width: 112vw;
    }

    .headernuevo{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}